@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Pages.css" rel="stylesheet" />
<div class="mainpage">
    <div class="content">
        <h2>Pakistan Stock Exchange Presents Information on </h2>
        <h1>Investor Awareness &amp; Protection</h1>
        <h3>Know Your Rights (KYR)</h3>
    </div>
    <img src="~/images/Banner6.jpg" />
</div>

<div class="row myrow">
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="~/images/image1.png">
            <div class="caption">
                <p>SECP Guidelines for Shariah-Compliant Investing on Pakistan Stock Exchange</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="~/images/image2.png">
            <div class="caption">
                <p>Public Comments and PSX Response Papers</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="~/images/image3.png">
            <div class="caption">
                <p>PSX Federal Budget Proposals 2022-23</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="~/images/image4.png">
            <div class="caption">
                <p>Know Your Rights - Information for Investors</p>
            </div>
        </div>
    </div>
</div>
