
<nav class="navbar navbar-inverse navbar-fixed-top mynavbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/"><img src="~/images/logo.png" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="/MarketSummary/All">Market Summary <span class="sr-only"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/MarketSummary/Categories/Automobile Assembler">Automobile Assembler</a></li>
                        <li><a href="/MarketSummary/Categories/Automobile Parts and Accessories">Automobile Parts &amp; Accessories</a></li>
                        <li><a href="/MarketSummary/Categories/Cable and Electrical Goods">Cable &amp; Electrical Goods</a></li>
                        <li><a href="/MarketSummary/Categories/Cement">Cement</a></li>
                        <li><a href="/MarketSummary/Categories/Chemical">Chemical</a></li>
                        <li><a href="/MarketSummary/Categories/Close - End Mutual Fund">Close - End Mutual Fund</a></li>
                        <li><a href="/MarketSummary/Categories/Commercial Banks">Commercial Banks</a></li>
                        <li><a href="/MarketSummary/Categories/Engineering">Engineering</a></li>
                        <li><a href="/MarketSummary/Categories/Exchange Traded Funds">Exchange Traded Funds</a></li>
                        <li><a href="/MarketSummary/Categories/Fertilizer">Fertilizer</a></li>
                        <li><a href="/MarketSummary/Categories/Food and Personal Care Products">Food &amp; Personal Care Products</a></li>
                        <li><a href="/MarketSummary/Categories/Future Contract">Future Contracts</a></li>
                        <li><a href="/MarketSummary/Categories/Glass and Ceramics">Glass &amp; Ceramics</a></li>
                        <li><a href="/MarketSummary/Categories/Insurance">Insurance</a></li>
                        <li><a href="/MarketSummary/Categories/Inv Banks and Inv Cos and Securities Cos">Inv Banks &amp; Inv Cos &amp; Securities Cos</a></li>
                        <li><a href="/MarketSummary/Categories/Jute">Jute</a></li>
                        <li><a href="/MarketSummary/Categories/Leasing Companies">Leasing Companies</a></li>
                        <li><a href="/MarketSummary/Categories/Leather and Tanneries">Leather &amp; Tanneries</a></li>
                        <li><a href="/MarketSummary/Categories/Miscellaneous">Miscellaneous</a></li>
                        <li><a href="/MarketSummary/Categories/Modarabas">Modarabas</a></li>
                        <li><a href="/MarketSummary/Categories/Oil and Gas Exploration Companies">Oil &amp; Gas Exploration Companies</a></li>
                        <li><a href="/MarketSummary/Categories/Oil and Gas Marketing Companies">Oil &amp; Gas Marketing Companies</a></li>
                        <li><a href="/MarketSummary/Categories/Paper and Board">Paper &amp; Board</a></li>
                        <li><a href="/MarketSummary/Categories/Pharmaceuticals">Pharmaceuticals</a></li>
                        <li><a href="/MarketSummary/Categories/Power Generation and Distribution">Power Generation &amp; Distribution</a></li>
                        <li><a href="/MarketSummary/Categories/Property">Property</a></li>
                        <li><a href="/MarketSummary/Categories/Real Estate Investment Trust">Real Estate Investment Trust</a></li>
                        <li><a href="/MarketSummary/Categories/Refinery">Refinery</a></li>
                        <li><a href="/MarketSummary/Categories/Sugar and Allied Industries">Sugar &amp; Allied Industries</a></li>
                        <li><a href="/MarketSummary/Categories/Synthetic and Ryon">Synthetic &amp; Ryon</a></li>
                        <li><a href="/MarketSummary/Categories/Technology and Communication">Technology &amp; Communication</a></li>
                        <li><a href="/MarketSummary/Categories/Textile Composite">Textile Composite</a></li>
                        <li><a href="/MarketSummary/Categories/Textile Spinning">Textile Spinning</a></li>
                        <li><a href="/MarketSummary/Categories/Textile Weaving">Textile Weaving</a></li>
                        <li><a href="/MarketSummary/Categories/Tobacco">Tobacco</a></li>
                        <li><a href="/MarketSummary/Categories/Transport">Transport</a></li>
                        <li><a href="/MarketSummary/Categories/Vanaspati and Allied Industries">Vanaspati &amp; Allied Industries</a></li>
                        <li><a href="/MarketSummary/Categories/Woollen">Woollen</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>